<div class="jumbotron">
  <h1  id="head">Listing articles</h1>
  <%= link_to 'New article', new_article_path, class:"btn btn-success" %>
  <%= link_to 'Home', {controller: 'welcome'}, class:"btn btn-success" %>
</div>



      <% @articles.each do |article| %>
    <div class="panel panel-default">
      <div class="panel-heading" id="title"><%= article.title %></div>
      <div class="panel-body">
        <div id="content">
          <%= article.text %><br> 
        </div>
          <div class="btn-group btn-group-justified">
            <%= link_to 'Show', article_path(article), class:"btn btn-default" %>
            <%= link_to 'Edit', edit_article_path(article), class:"btn btn-default" %>
            <%= link_to 'Destroy', article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
          </div>
      </div>
    </div>

  <% end %>
